@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* D6EFFB */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.custom-font {
  font-family: 'Varela Round', -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a.active {
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

.add-transition {
  @apply transition duration-300 ease-in-out;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
